.page-inner {
  max-width: 1000px !important;
}

.book.font-size-0 .book-body .page-inner section {
  font-size: 1em !important;
}
.book.font-size-1 .book-body .page-inner section {
  font-size: 1.5em !important;
}
.book.font-size-2 .book-body .page-inner section {
  font-size: 2em !important;
}
.book.font-size-3 .book-body .page-inner section {
  font-size: 2.5em !important;
}
.book.font-size-4 .book-body .page-inner section {
  font-size: 3em !important;
}
.book .book-body .page-wrapper .page-inner section.normal pre>code {
  font-size: .7em !important;
}

h2 {
  margin-top: 0px !important;
}

body {
  line-height: 1.4 !important;
}

h1 {
  margin-top: 0px !important;
  line-height: 1.2 !important;
}
